@font-face {
    font-family: 'FranklinGothic';
    font-weight: normal;
    font-style: normal;
    src: local('ITC Franklin Gothic Book'), local('ITC-Franklin-Gothic-Book'),
        url('../fonts/ITCFranklinGothicStd-Book.woff2') format('woff2'),
        url('../fonts/ITCFranklinGothicStd-Book.woff') format('woff'),
        url('../fonts/ITCFranklinGothicStd-Book.ttf') format('truetype');
  }
@font-face{
    @font-face {
        font-family: 'Calibri';
        src: local('Calibri'),
            url('../fonts/Calibri.woff2') format('woff2'),
            url('../fonts/Calibri.woff') format('woff');2
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }
}
body{
    font-family: "FranklinGothic", sans-serif;
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background: #344051;
    z-index: 10;
}
@keyframes comming{
    from{
         opacity: 0;
     }
    to{
         opacity: 1;
     }
 }
 @keyframes topshift{
     from{
        opacity: 0;
        margin-top: -80px;
     }
     to{
        opacity: 1;
        margin-top: 0px;
     }
 }
 @keyframes titlemove{
    from{
        opacity: 0;
        margin-top: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
 }
 @keyframes cases_move{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
 }
 @keyframes review_move{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
 }
.logo{
    float: left;
    color: white;
    font-size: 28px;
    line-height: 60px;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}
.menu{
    float: left;
}
.menu li{
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}
.menu li a {
    display: inline-block;
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    text-decoration: none;
}
.menu li a:visited{
    color: white;
}
.menu li a:hover{
    color: #cf7702;
}
.menu li a:active{
    transform: scale(1.1);
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}
.main{
    width: 100%;
    height: 100%;
    background:url(../img/guy.png) 90% 100%/auto 85% no-repeat, url(../img/bg1.jpg) center/cover no-repeat;
}
.title_container{
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}
.title_container h1{
    font-family: Arial, sans-serif;
    font-size: 72px;
    font-weight: 600;
}
.title_container h4{
    margin-top: 30px;
    font-size: 25px;
    color: #79818d;
}
.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 14px;
    padding: 0px 16px;
    margin: 45px 14px 0px 14px;
    transition: all 0.2s;
    transform: scale(1);
}
 .title_container input:hover{
    background: #344051;
    color: white;
 }
 .title_container input:active{
    transform: scale(1.1);
 }
.about{
    height: 721px;
    background-color: white;
}
.about h2{
    font-size: 33px;
    color: rgb(38, 50, 68);
    text-align: center;
    padding-top: 110px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0px;
}
.about .about_divider{
    display: block;
    height: 3px;
    width: 72px;
    background-color:  #cf7702;
    margin: 0 auto;
    margin-top: 35px;
}
.about img{
    display: block;
    align-items: center;
    margin-top: 60px;
}
.about p{
    display: block;
    color:rgb(38, 50, 68);
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 0px;
}
.about input{
    display: block;
    height: 35px;
    text-align: center;
    line-height: 100%;
    border: 2px solid #6d7682;
    background: url(../img/icon.png) left 14px center no-repeat;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 8px 14px 15px 34px;
    
}
.about input:hover{
    color: #cf7702;
 }
 .about input:active{
    transform: scale(1.1);
 }
.skills{
    height: 522px;
    background: url(../img/bg_skills.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.skills .container{
    height: 100%;
}
.skills h2{
    text-align: center;
    font-size: 30px;
    color: rgb(38, 50, 68);
    padding-top: 110px;
    text-transform: uppercase;
    font-weight: bold;
}
.skills .skills_divider{
    display: block;
    height: 3px;
    width: 72px;
    background-color:  #cf7702;
    margin: 0 auto;
    margin-top: 35px;
}
.skills img{
    height: 44px;
    width: 55px;
    margin-bottom: 42px;
}
.skills .skills_item{
    text-align: center;
    width: 215px;
    margin: 78px auto;
}
.skills .skills_item .skills_title{
    color:#cf7702;
    font-size: 19px;
    font-weight: bold;
}
.skills .skills_item .skills_descr{
    color:rgb(38, 50, 68);
    font-size: 15px;
    font-family: "Calibri";
}
.cases{
    height:1100px;
}
.cases .contaier{
    height: 100%;
}
.cases .cases_header{
    font-size: 33px;
    color: rgb(38, 50, 68);
    text-align: center;
    padding-top: 110px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
}
.cases .cases_divider{
    display: block;
    height: 3px;
    width: 72px;
    background-color:  #cf7702;
    margin: 0 auto;
    margin-top: 35px;
}
.cases .cases_descr{
    font-family: Arial;
    color:rgb(38, 50, 68);
    font-size: 16px;
    margin: 44px auto 45px;
    text-align: center;
}
.cases .container{
    height: 100%;
}
.cases img{
    width: 100%;
}
.cases .cases_links{
    font-size: 16px;
    font-family: "Calibri";
    color: rgb(63, 73, 90);
}
.cases .cases_links .link_website{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.cases .cases_links .cases_titleleft{
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
}
.cases .cases_links p{
    font-size: 17px;
    font-weight: 500;
    color: rgb(63, 73, 90);
}
.cases .cases_project{
    font-weight: bold;
    font-size: 25px;
    font-family: "Calibri";
    color: rgb(56, 67, 84);
}
.cases .text_project{
    font-size: 17px;
    color: rgb(63, 73, 90);
    font-weight: 600;
}
.cases .cases_btn input{
    color: white;
    width:150px;
    height: 40px;
    text-align: center;
    border: 2px solid #63b5ae;
    background-color: #63b5ae;
    border-radius: 5px;
}
.cases a:hover{
    color: #d17700;
}
.cases input:hover{
    background-color: #344051;
    border-color: #344051;
    color: #cf7702;
 }
 .cases input:active{
    transform: scale(1.1);
 }
.cost{
    height: 850px;
}
.cost .cost_header{
    font-size: 33px;
    color: rgb(38, 50, 68);
    text-align: center;
    padding-top: 110px;
    font-weight: bold;
}
.cost .cost_subheader{
    font-size: 22px;
    color: rgb(38, 50, 68);
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 50px;
}
.cost .cost_table{
    margin-top: 10px;
}
.cost .cost_var{
    width: 895px;
    height: 55px;
    margin-bottom: 50px;
    background-color: #faf7f7;
}
.cost .table{
    width: 895px;
    margin-top: 40px;
    
}
.cost .cost_tbody td{
    text-align: end;
    font-size: 16px;
    font-weight: bold;
    color: rgb(38, 50, 68)
}
.cost .cost_tbody th{
    font-size: 16px;
    font-weight: bold;
    color: rgb(38, 50, 68)
}
.cost .cost_btn{
    width: 200px;
    height: 50px;
    color: white;
    text-align: center;
    border: 2px solid #63b5ae;
    background-color: #63b5ae;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 40px;
    line-height: 100%;
}
.cost button:hover{
    color: #d17700;
 }

 .cost button:active{
    transform: scale(1.1);
 }
.stat{
    margin-top: 156px;
    height: 500px;
    background: url(../img/stat_bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.stat .stat_header{
    font-size: 33px;
    color: rgb(38, 50, 68);
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
    margin: 0 auto;
    text-transform: uppercase;
}
.stat .stat_divider{
    display: block;
    height: 3px;
    width: 72px;
    background-color:  #cf7702;
    margin: 0 auto;
    margin-top: 30px;
}
.stat .stat_item{
    text-align: center;
    margin-bottom: 58px;
    margin-top: 75px;
}
.stat .stat_item .stat_num{
    font-size: 37px;
    font-weight: 500;
    font-family: "Impact";
    margin-top: 25px;
}
.stat .stat_item .stat_lett{
    font-family: "Impact";
    color: rgb(50, 62, 79);
    font-style: 16px;
    margin-top: 30px;
    font-size: 17px;
    font-weight: normal;
}
.review{
    height: 593px;
    width: 100%;
}
.review .container{
    height: 100%;
}
.review .review_header{
    font-size: 33px;
    color: rgb(38, 50, 68);
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
    margin: 0 auto;
    text-transform: uppercase;
}
.review .review_divider{
    display: block;
    height: 3px;
    width: 72px;
    background-color:  #cf7702;
    margin: 0 auto;
    margin-top: 30px;
}
.review .review_item{
    opacity: 0;
    -webkit-animation: review_move 1s ease forwards;
    -o-animation: review_move 1s ease forwards;
    animation: review_move 1s ease forwards;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}
.review .row .review_img{
    display: block;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 60px;
}
.review .review_txt p{
    text-align: center;
    color:rgb(38, 50, 68);
    font-size: 16px;
    font-family: "Calibri";
    font-weight: 600;
}
.review .radio{
    margin-top: 30px;
    text-align: center;
}
.contacts{
    height: 810px;
    background: url(../img/contacts.jpg) center/cover no-repeat;
}
.container{
    height: 100%;
}
.container .contacts_header{
    font-size: 33px;
    color: white;
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
    margin: 0 auto;
    text-transform: uppercase;
}
.contacts .contacts_divider{
    display: block;
    height: 3px;
    width: 72px;
    background-color:  #d17700;
    margin: 0 auto;
    margin-top: 30px;
}
.contacts .contacts_descr{
    color:white;
    margin-top: 33px;
    text-align: center;
    font-size: 16px;
    font-family: "Calibri";
}
.contacts .contacts_item{
    text-align: center;
    color:white;
}
.contacts .contacts_item a{
    text-decoration: none;
    color: white;

}
.contacts .contacts_item img{
    margin-bottom: 15px;
}
.contacts .contacts_header2{
    font-size: 21px;
    color: white;
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
    text-transform: uppercase;
}
.contacts .placeholders{
    margin-left: 40px;
}
.contacts .placeholder1{
    width:350px;
    height: 38px;
    margin-top: 47px;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.contacts .placeholder3{
    width: 790px;
    height: 96px;
    margin-top: 15px;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.contacts  .contacts_btn{
    width: 125px;
    height: 44px;
    text-align: center;
    border: 2px solid white;
    background: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 100%;
    margin-top: 30px;
    margin-left:40px;
    color: white;
}
.contacts a:hover{
    color: #d17700;
}
.contacts button:hover{
    background: white;
    color: #d17700;
 }

 .contacts button:active{
    transform: scale(1.1);
 }
.footer{
    width: 100%;
    height: 95px;
    background-color: #344051;
}
.footer .container{
    height: 100%;
}
.footer p{
    font-family: "Arial";
    text-align: center;
    padding-top: 44px;
    color: white;   
    font-size: 15px;
}
.white-btn:visited{
    color: white;
}
